
.booking-h1 {
  padding-top: 10px;
  padding-left: 35px;
}

.booking-form {
 display: flex;
 width: 320px;
 height: 500px;
 padding: 15px;
 border-radius: 5px;
 background-color: white;
 color: #D36656;
 margin-top: 20px;
 padding: 30px;
 margin: 28px 5px 0 20px;
 margin-right: 200px;
 margin-left: 50px;
}

#os {
  margin-left: 1px;
}



