<h1>Edit the booking</h1>
      <div class="booking-form">
        <%= simple_form_for [@space, @booking] do |f| %>
        <%= f.input :start_datetime, as: :datetime, html5: true, label: "Start time" %>
        <%= f.input :end_datetime, as: :datetime, html5: true, label: "End time" %>
        <%= f.submit "Book now", class: "btn-park", id: "os"  %>
        <% end %>
      </div>

    <script>
      flatpickr("#booking_start_datetime", {
        enableTime: true,
        dateFormat: "Y/m/d,H:i",
        minDate: "today"
      });

      flatpickr("#booking_end_datetime", {
        enableTime: true,
        dateFormat: "Y/m/d,H:i",
        minDate: "today"
      });

    </script>
