<div class="footer-two">
  <div class="footer-two-links">
    <a href="http://www.github.com"><i class="fab fa-github"></i></a>
    <a href="http://www.instagram.com"><i class="fab fa-instagram"></i></a>
    <a href="http://www.facebook.com"><i class="fab fa-facebook"></i></a>
    <a href="http://www.twitter.com"><i class="fab fa-twitter"></i></a>
    <a href="http://www.linkedin.com"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-two-copyright">
    This footer-two is made with <i class="fas fa-heart"></i> by Le Decisive
  </div>
</div>
