.footer {
  background: #F4F4F4;
  position: relative;
  top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 40px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.13;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
