.footer-two {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0px 50px;
  color: black;
}
.footer-two-links {
  display: flex;
  align-items: center;
}
.footer-two-links a {
  color: black;
  opacity: 0.6;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-two-links a:hover {
  opacity: 1;
}
.footer-two .fa-heart {
  color: #D23333;
}
